.project_container{
    padding: 2em;
    width: 100%;
    min-width: 1150px;
    max-width: 1200px;
}

.title_container{
    display: flex;
    justify-content: space-between;
    margin-bottom: 2em;
}